/* Home Page Container */
.homepage__container {
  max-width: 480px;
  margin: 0 auto;
  /*display: flex;*/
  /*flex-direction: column;*/
  justify-content: center;
  padding: 50px 0;
}

/* ToDo App Input Box */
/*.todoapp__inputbox {*/
/*  width: 100%;*/
/*  display: flex;*/
/*  align-items: center;*/
/*}*/

.MakeScenario {
  width: 800px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

.DefaultSetting {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}


.listeners {
  margin: 0 0 20px;
}

.input_default_setting_box {
  margin: 10px 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid darkgray;
}

.input-tag {
  height: 30px;
  width: 100px;
  padding: 5px;
  font-size: 18px;
}

.input-default-setting-tag {
  height: 30px;
  width: 100px;
  padding: 5px;
  font-size: 13px;
}

.input-appversion-tag {
  height: 30px;
  width: 200px;
  padding: 5px;
  font-size: 18px;
}

.todoapp__inputbox-inp:focus {
  outline: none;
}

.input-button-box {
  display: flex;
  justify-content: center;
}

.todoapp-add-btn {
  border: none;
  border-radius: 10px;
  background-color: #d0ebff;
  color: #1c7ed6;
  height: 50px;
  width: 500px;
  font-weight: bold;
}

.todoapp__list-thead {
  padding: 0 20px;
}

.todoapp__list-ul {
  list-style: none;
  padding: 0;
}

.todoapp__item {
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoapp__item-ctx {
  display: inline-block;
  width: 150px;
  align-items: center;
}

.todoapp-add-btn:hover {
  background-color: #d0e0ff;
  cursor: pointer;
}

.scenario-btn-box {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.create-scenario-btn {
  border: none;
  border-radius: 10px;
  background-color: #d0ebff;
  color: #1c7ed6;
  height: 50px;
  width: 500px;
  font-weight: bold;
}

.create-scenario-btn:hover {
  cursor: pointer;
  background-color: #d0e0ff;
}

.default-setting-btn-box {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}

.create-default-setting-btn {
  border: none;
  border-radius: 10px;
  background-color: #d0ebff;
  color: #1c7ed6;
  height: 50px;
  width: 300px;
  font-weight: bold;
}

.create-default-setting-btn:hover {
  cursor: pointer;
  background-color: #d0e0ff;
}

/*CommandInput*/
.command_input_box {

}

.select_events_box {
  left: 50%;
  height: 50px;
  border-radius: 5px;
  width: 30%;
}

.select_os_box {
  left: 50%;
  height: 50px;
  border-radius: 5px;
  width: 27%;
  font-size: 18px;
}

.select_sticker_box {
  left: 50%;
  height: 50px;
  border-radius: 5px;
  width: 100%;
  font-size: 18px;
}

.user_number {
  left: 50%;
  height: 50px;
  border-radius: 5px;
  width: 20%;
  font-size: 18px;
}

.save_usertype{
  border: 1px solid #d0ebff;
  border-radius: 10px;
  background-color: #d0ebff;
  color: #1c7ed6;
  height: 50px;
  width: 70px;
  font-weight: bold;
  margin-left: 20px;
}

.save_usertype:hover {
  cursor: pointer;
  background-color: #d0e0ff;
}

/*.todoapp__createbox-add-btn {*/
/*  border: none;*/
/*  border-radius: 0;*/
/*  background-color: #d0ebff;*/
/*  color: #1c7ed6;*/
/*  height: 50px;*/
/*  width: 100px;*/
/*  font-weight: bold;*/
/*}*/

/*!* ToDo Item List *!*/
/*.todoapp__list {*/
/*  margin-top: 30px;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/
/*.todoapp__list-tit {*/
/*  font-weight: bold;*/
/*  margin: 0;*/
/*}*/
/*.todoapp__list-ul {*/
/*  list-style: none;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  padding: 0;*/
/*}*/

/*!* ToDo Item *!*/
/*.todoapp__item {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  margin-bottom: 10px;*/
/*  height: 36px;*/
/*}*/
/*.todoapp__item:last-child {*/
/*  margin-bottom: 0;*/
/*}*/
/*.todoapp__item-checkbox {*/
/*  margin-right: 10px;*/
/*}*/
/*.todoapp__item-ctx {*/
/*  flex: 1;*/
/*}*/
/*.todoapp__item-edit-btn,*/
/*.todoapp__item-delete-btn {*/
/*  border: none;*/
/*  border-radius: 0;*/
/*  height: 36px;*/
/*  width: 36px;*/
/*  background-color: inherit;*/
/*}*/
/*.todoapp__item-edit-btn:hover,*/
/*.todoapp__item-delete-btn:hover {*/
/*  cursor: pointer;*/
/*  background-color: #d0ebff;*/
/*}*/
/*.todoapp__item-edit-btn {*/
/*  margin-right: 3px;*/
/*}*/
